/*面包屑控件样式类*/
.icbcUserControlCrumb_text3
{
	font-size: 12px;
	color: Black;
	text-decoration: none;
}

/*搜索框控件样式类*/
.icbcUserControlSearchframe_search
{
	/*cursor:hand;     background-color:#ffffff; 	border-width:0px;*/
	text-decoration: none;
	font-size: 12px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}
/*网上调查问卷列表控件样式类*/
.icbcUserControlQuestionnaireList_questionnaire
{
	font-size: 12px;
	text-decoration: none;
}
/*纵向图片控件样式类*/
.commonprotraitimage
{
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}





/*摘要列表控件样式类*/
.channelSummaryListLink
{
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}
A.channelSummaryListLink:link
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
A.channelSummaryListLink:hover
{
	font-size: 14px;
	color: #bc0021;
	text-decoration: underline;
}
.channelSummaryListDate
{
	font-size: 14px;
	color: red;
	text-decoration: none;
}



/*新闻头条控件样式类*/
.channelTopNewsLink
{
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}
A.channelTopNewsLink:link
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
A.channelTopNewsLink:hover
{
	font-size: 14px;
	color: #bc0021;
	text-decoration: underline;
}
.channelTopNewsDate
{
	font-size: 20px;
	color: Black;
	text-decoration: none;
}
.channelSummaryListTitle
{
	font-size: 18px;
	color: red;
	font-weight: bold;
	text-decoration: none;
}



/*设置频道导航条的样式开始*/
/***一级频道未被选中的样式***/
.navigationBarUnSelectedFisrtChannelStyle
{
	color: #000000;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
td.navigationBarUnSelectedFisrtChannelStyle
{
	width: 150px;
	height: 21px;
	font-size: 12px;
	background-color: #bc0021;
}
A.navigationBarUnSelectedFisrtChannelStyle:link
{
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.navigationBarUnSelectedFisrtChannelStyle:hover
{
	color: #ffffff;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
/***一级频道被选中的样式***/
.navigationBarSelectedFisrtChannelStyle
{
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	width: 150px;
}
td.navigationBarSelectedFisrtChannelStyle
{
	width:150px;
	height:21px;
	background-color:#cccccc
	
}

.
/***频道导航条当前频道样式***/
.navigationBarCurrentChannelStyle
{
	color:#bc0021;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
td.navigationBarCurrentChannelStyle
{
	color:#bc0021;
	width: 150px;
	height: 21px;
	font-size: 12px;
	background-color: white;
}
/***频道导航条子频道样式***/
.navigationBarSubChannelStyle
{
	
	color: #7f7f7f;
	text-decoration: none;
	height: 21px;
	width: 150px;

}
td.navigationBarSubChannelStyle
{
	width: 150px;
	height: 21px;
	background-color:White;
	/**border-bottom: 1px solid #bc0021;*/
}
A.navigationBarSubChannelStyle:link
{
	color: #7f7f7f;
	text-decoration: none;

	height: 21px;
	font-size: 12px;
}
A.navigationBarSubChannelStyle:hover
{
	color: #000000;
	text-decoration: none;

	height: 21px;
	font-size: 12px;
}

/***频道风格定义***/
.navigationBarOtherChannelStyle
{
	color: #7f7f7f;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
td.navigationBarOtherChannelStyle
{

	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
A.navigationBarOtherChannelStyle:link
{
	color: #7f7f7f;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
A.navigationBarOtherChannelStyle:hover
{
	color: Black;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

/*************************设置导航条样式结束***************************/

/*网站地图一样式开始*/
/***网站地图一的样式***/
 .sitemap1text1 {
	COLOR: #000000; TEXT-DECORATION: none; font-weight:bold;font-size:12px
}
A.sitemap1text1:link {
	COLOR: #000000; TEXT-DECORATION: none; font-weight:bold;font-size:12px
}
A.sitemap1text1:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline; font-weight:bold;font-size:12px
}
A.sitemap1text1:visited {
	COLOR:#000000; TEXT-DECORATION: none; font-weight:bold;font-size:12px
}

.sitemap1text3 {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}
A.sitemap1text3:link {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}
A.sitemap1text3:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline;font-size:12px
}
A.sitemap1text3:visited {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}
 .sitemap1text2 {
	COLOR: #bc0021; TEXT-DECORATION: none;font-size:12px
}
A.sitemap1text2:link {
	COLOR: #bc0021; TEXT-DECORATION: none;font-size:12px
}
A.sitemap1text2:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline;font-size:12px
}
A.sitemap1text2:visited {
	COLOR:#bc0021; TEXT-DECORATION: none;font-size:12px
}
/***网站地图二的样式***/
.sitemap2text1{
	text-decoration:underline;font-weight:bold;font-size:12px
}
a.sitemap2text1:link{
	color:#009;TEXT-DECORATION: none;font-weight:bold;font-size:12px
}
a.sitemap2text1:visited{
	color:#800080;TEXT-DECORATION: none;font-weight:bold;font-size:12px
}
a.sitemap2text1:hover,a.sitemap2text1:active,a.sitemap2text1:focus{
	color:#f00; text-decoration:underline;font-weight:bold;font-size:12px
}

.sitemap2text2{
	text-decoration:underline;font-size:12px
}
a.sitemap2text2:link{
	color:#009;TEXT-DECORATION: none;font-size:12px
}
a.sitemap2text2:visited{
	color:#800080;TEXT-DECORATION: none;font-size:12px
}
a.sitemap2text2:hover,a.sitemap2text2:active,a.sitemap2text2:focus{
	color:#f00; text-decoration:underline;font-size:12px
}

/***网站地图三的样式***/
.sitemap3text1{
	text-decoration:underline;font-size:larger
}
a.sitemap3text1:link{
	color:#0000ff;TEXT-DECORATION: none;   font-size:larger
}
a.sitemap3text1:visited{
	color:#0000ff;TEXT-DECORATION: none;font-size:larger
}
a.sitemap3text1:hover,a.sitemap3text1:active,a.sitemap3text1:focus{
	color:#0000ff; text-decoration:underline;font-size:larger
}

.sitemap3text2 {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px; text-align:left; vertical-align:top; height:40px;
}
td.sitemap3text2 {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px; text-align:left; vertical-align:top; 
}
A.sitemap3text2:link {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px;
}
A.sitemap3text2:hover {
	COLOR: #000000; TEXT-DECORATION: underline;font-size:12px;
}
A.sitemap3text2:visited {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}

/***网站地图四的样式***/
.sitemap4text1 {
	COLOR: #000000; TEXT-DECORATION: none;font-size:14px; font-weight:bold;text-align:left; vertical-align:top; 
}
A.sitemap4text1:link {
	COLOR: #000000; TEXT-DECORATION: nonefont-size:12px; font-weight:bold;text-align:left; vertical-align:top; 
}
A.sitemap4text1:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline;font-size:12px; font-weight:bold;text-align:left; vertical-align:top; 
}
A.sitemap4text1:visited {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px; font-weight:bold;text-align:left; vertical-align:top; 
}


.sitemap4text2 {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}
A.sitemap4text2:link {
	COLOR: #000000; TEXT-DECORATION: nonefont-size:12px
}
A.sitemap4text2:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline;font-size:12px
}
A.sitemap4text2:visited {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}

.sitemap4text3 {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}
A.sitemap4text3:link {
	COLOR: #000000; TEXT-DECORATION: nonefont-size:12px
}
A.sitemap4text3:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline;font-size:12px
}
A.sitemap4text3:visited {
	COLOR: #000000; TEXT-DECORATION: none;font-size:12px
}

/*网站地图样式结束*/
/*功能优化控件样式-开始*/
/*功能优化搜索按钮样式*/
.optimizeSearchButton
{
	background-repeat: no-repeat;
	cursor: hand;
	background-image: url(/icbc/Module/res/ICBCImages/button.gif);
	vertical-align: 10%;
	border: 0;
	width: 56px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体" , "Verdana";
}

/*功能优化标题样式*/
.optimizeSearchCaption
{
	color: black;
	border-bottom: 1px solid #98c0f4;
	border-top: 1px solid #98c0f4;
	background-image: url(/icbc/Module/res/ICBCImages/BGTITLE.gif);
	height: 25px;
	font-size: 12px;
	font-family: "宋体" , "Verdana";
}
.optimizeSearchText
{
	font-size: 12px;
}

/*功能优化外汇牌价英文搜索*/
.optimizeQuotionEngSearch
{
	font-size: 12px;
	font-family: "Geneva" , "Arial" , "Helvetica" , "san-serif";
	text-decoration: none;
}
/*功能优化控件样式-结束*/


/*****************************************/
/*************AUTHOR:冯志欣**************/
/******mail:fenzhixin@neusoft.com*******/
/**************************************/

/*通用分割符样式，可通用，两种 一 用背景颜色分割 二 用背景图片分割*/

.common_seperator
{
	height: 1px;
}
.common_seperator_color
{
	background-color: #EDEDED;
}

.common_seperator_background
{
	background-image: url(/icbc/html/stock/images/rep_2.jpg);
}
/***********************通用分割符样式结束****************************/

/*特殊页面二的使用样式-begin*/
.SPTM_table
{
	width: 580px;
}

.SPTM_title_text2
{
	color: #bc0021;
	text-decoration: none;
	font-size: 14px;
}
A.SPTM_title_text2:link
{
	color: #000000;
	text-decoration: none;
}
A.SPTM_title_text2:hover
{
	color: #bc0021;
	text-decoration: underline;
}
A.SPTM_title_text2:visited
{
	color: #000000;
	text-decoration: none;
}

.SPTM_summary_text2
{
	color: #bc0021;
	text-decoration: none;
	font-size: 14px;
}
/*特殊页面二的使用样式-end*/

/*特殊页面一的使用样式-begin*/
.SPOM_title_text20
{
	font-size: 14px;
	color: #169abb;
	line-height: 18px;
	text-decoration: none;
}
A.SPOM_title_text20:link
{
	font-size: 14px;
	color: #169abb;
	text-decoration: none;
}
A.SPOM_title_text20:hover
{
	font-size: 14px;
	color: #169abb;
	text-decoration: underline;
}

.SPOM_table_text20
{
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	width: 580px;
}
/*特殊页面一的使用样式-end*/

/*通用信息列表(包含扩展属性模块)的使用样式-begin*/

.CIM_table
{
	text-decoration: none;
	color: #000000;
	width: 410px;
	font-size: 14px;
}
A.CIM_table:link
{
	color: #000000;
	text-decoration: none;
}
A.CIM_table:hover
{
	color: #bc0000;
	text-decoration: underline;
}
.CIM_date_text2
{
	color: #000000;
	font-family: "宋体";
	font-size: 14px;
	text-decoration: none;
}
A.CIM_date_text2:link
{
	color: #000000;
	text-decoration: none;
}
A.CIM_date_text2:hover
{
	color: #bc0021;
	text-decoration: underline;
}
A.CIM_date_text2:visited
{
	color: #000000;
	text-decoration: none;
}
.CIM_more
{
	color: #bc0021;
	text-decoration: none;
}
A.CIM_more:link
{
	color: #bc0021;
	text-decoration: none;
}
A.CIM_more:hover
{
	color: #bc0021;
	text-decoration: underline;
}

.CIM_before_text
{
	color: #bc0021;
	text-decoration: none;
}

/*通用信息列表的使用样式-end*/

/*表格信息模块(包含手工)的使用样式-begin*/
.tInfoModule_jcsh
{
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}
A.tInfoModule_jcsh:link
{
	color: #000000;
	text-decoration: none;
}
A.tInfoModule_jcsh:hover
{
	color: #bc0000;
	text-decoration: underline;
}
.tInfoModule_tablejcsh
{
	color: #000000;
	background-color: #F2F2F2;
	width: 100%;
	text-align: center;
}


.tInfoModule_texte2
{
	font-size: 12px;
	line-height: 20px;
	color: #696969;
	text-decoration: none;
}
A.tInfoModule_texte2:link
{
	color: #696969;
	text-decoration: none;
}
A.tInfoModule_texte2:hover
{
	color: #696969;
	text-decoration: underline;
}
A.tInfoModule_texte2:visited
{
	color: #696969;
	text-decoration: none;
}
.tInfoModule_style80
{
	color: #FF9900;
}

.tInfoModule_table
{
	height: 105px;
	width: 160px;
	text-align: left;
}
/*表格信息模块(包含手工)的使用样式-end*/

/****************************************END*****************************************/



/*************************************树形菜单1开始***********************************/
/*********第一级未选定的栏目样式********/
.MenuTree1_unselectedfirstlayer
{
	color: #FFFFFF;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
td.MenuTree1_unselectedfirstlayer
{
	width: 100%;	
	font-size: 12px;
	background-color:#bc0021;
}
A.MenuTree1_unselectedfirstlayer:link
{
	color: #FFFFFF;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.MenuTree1_unselectedfirstlayer:hover
{
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

/***********第一级选定的栏目样式*****************/
.MenuTree1_selectedfirstlayer
{
	color: #FFFFFF;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
td.MenuTree1_selectedfirstlayer
{
	width: 100%;	
	font-size: 12px;
	background-color:#cccccc;
}

/*******************其它未选中栏目的样式******************************/
.MenuTree1_unselectedotherlayer
{
	color: ;
	line-height: 18px;
	text-decoration: none;
	font-size: 12px;
}
td.MenuTree1_unselectedotherlayer
{
	width: 100%;	
	font-size: 12px;
	background-color:Red;
}
A.MenuTree1_unselectedotherlayer:link
{
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.MenuTree1_unselectedotherlayer:hover
{
	color: #ff0000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.MenuTree1_unselectedotherlayer:visited
{
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}
/***********其它选定的栏目样式*****************/
.MenuTree1_selectedotherlayer
{
	color: #bc0021;
	line-height: 18px;
	text-decoration: none;
	font-size: 12px;
}
td.MenuTree1_selectedotherlayer
{
	color:#bc0021;
	width: 100%;	
	font-size: 12px;
	background-color:Green;
}
/*树形菜单1结束*/

/* 树状菜单2 xuzhp@neusoft.com */
/********************** 未选中的第一级菜单 ************************/
.MenuTree2_unselectedfirstlayer 
{	
	COLOR: #680b19;	
	LINE-HEIGHT: 18px;	
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
}

td.MenuTree2_unselectedfirstlayer
{
	background-color:#ffffff;
}

A.MenuTree2_unselectedfirstlayer:link 
{	COLOR: #680b19;	
	TEXT-DECORATION: none
}

A.MenuTree2_unselectedfirstlayer:hover 
{	COLOR: #c60001;	
	TEXT-DECORATION: none;
	font-weight:bolder;
}
/***************树状菜单2  未被选中的其它级菜单  *****************/
.MenuTree2_unselectedotherlayer 
{	FONT-SIZE: 11px;	
	COLOR: #808080;	
	LINE-HEIGHT: 18px;	
	TEXT-DECORATION: none
}
td.MenuTree2_unselectedotherlayer
{
	background-color:#F6F6F6;
}
A.MenuTree2_unselectedotherlayer:link 
{	COLOR: #808080;	
	TEXT-DECORATION: none
}

A.MenuTree2_unselectedotherlayer:hover 
{	COLOR: #c60001;	
	TEXT-DECORATION: none;
	font-weight:bolder;	
}
/***************树状菜单2  被选中的第一级菜单  *****************/
.MenuTree2_selectedfirstlayer 
{	
	COLOR: #c60001;	
	LINE-HEIGHT: 18px;	
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
	font-weight:bold;
}
td.MenuTree2_selectedotherlayer
{
	background-color:#ffffff;
}
/***************树状菜单2  被选中的其它级菜单  *****************/
.MenuTree2_selectedotherlayer 
{	
	COLOR: #c60001;	
	LINE-HEIGHT: 18px;	
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
	font-weight:bold;
}
td.MenuTree2_selectedotherlayer
{
	background-color:#F6F6F6;
	FONT-SIZE: 14px;
}

/******************** 二级页列表开始 ************************************/
/**************** 日期样式 ************/
.secondarypagelist_date
{	
	color:#334496;
	FONT-SIZE: 14px;
	line-height: 18px;
	font-family:'隶书'
}
td.secondarypagelist_date
{
	COLOR: #334496;	
}
/**************** 更多样式 , 文章标题样式 , 翻页样式************/
.icbcNewUserControls_secondarypagelist_titleStyle
{
	color:#267f7a;	
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}
.icbcNewUserControls_secondarypagelist_more
{
	width:45px;
	text-align:right;	
	}
.icbcNewUserControls_secondarypagelist_perCharacterStyle
{
	color:#ff6600;
	}
.icbcNewUserControls_secondarypagelist_infoStyle 
{	
	FONT-SIZE: 14px;
	COLOR: #000000;	
	TEXT-DECORATION: none;
}
A.icbcNewUserControls_secondarypagelist_titleStyle:hover 
{
	FONT-SIZE: 14px;
	COLOR: #bc0021;	
	TEXT-DECORATION: underline;
}
/**************** 表格样式 ************/
.secondarypagelist_table
{	
	FONT-SIZE: 12px;	
	COLOR: #000000;	
	TEXT-DECORATION: none;
}
td.secondarypagelist_table
{
	COLOR: #334496;	
}

/**************** 分割线样式 ************/

td.secondarypagelist_separator
{
	 background-color:Red;
}
/**************** 顶部的栏目的样式 ************/
td.secondarypagelist_channel
{
	 color:Red;
}
/******************** 二级页列表结束 ************************************/

/*下拉框模块样式类(包括手动)*/
.icbcNewUserControls_DropDownList_ddt
{
	border-color:#ADC8F7;
	background-color:#ffffff;
	}
	
	/*图文信息模块一*/
	.icbcNewUserControls_ImageArticle_module
	{
		font-size:16px;
		color:Black;
		font-weight:bold;
		}
	.icbcNewUserControls_ImageArticle_moreText
	{
		font-size:14px;
		color:Black;
		font-weight:bold;
		}
	.icbcNewUserControls_ImageArticle_title
	{
		font-size:14px;
		color:red;
		font-weight:bold;
		}
	.icbcNewUserControls_ImageArticle_summary
	{
		font-size:14px;
		color:black;
		}
	.icbcNewUserControls_ImageArticle_divisionTS
	{
		/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/rep_1.jpg);*/
		}
	.icbcNewUserControls_ImageArticle_infoDivision
	{
		/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/rep_1.jpg);*/
		}
	.icbcNewUserControls_ImageArticle_more
	{
		font-size:12px;
		color:Red;
		font-weight:normal;
		}
		
		
		
   /*图文信息模块二（一图对多文）*/
   
   
   
   /* 横向滚动信息 */
   .icbcNewUserControls_HorizontalRollingInfo_infontCharacter
   {
	/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/ticket_bg.gif);*/
	font-size:12px;
	color:red;
	}
	.icbcNewUserControls_HorizontalRollingInfo_infont
   {
	text-decoration:none;
	font-size:12px;
	color:Blue;
	font-weight:bold;
	}
	
	/*导航栏2 */
	.icbcNewUserControls_NavigationBar2_division_Symbol
	{
	   font-family :宋体; 
		color:gray;
		}
	.icbcNewUserControls_NavigationBar2_noSelect
	{
		color:Black;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		}
	.icbcNewUserControls_NavigationBar2_select
	{
		color:Red;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
		}
		
	/* 日期时间模块*/
   .icbcNewUserControls_Date_date
   {
	font-size:12px;
	color:Black;
	font-weight:normal;
	}
	
	/*商品轮播（翻屏竖滚）*/
	A.icbcNewUserControls_CommodityRolling_commodityInfo:Link
	{
		font-size:16px;
		color:#E49D1F;
		text-decoration:none;
		}
	．icbcNewUserControls_CommodityRolling_commodityInfo
	{
		font-size:12px;
		color:Black;
		font-weight:normal;
		}
		
		
	/* 带推荐信息模块（包括手工） */
	.icbcNewUserControls_CommendInfo_commendInfoStyle
	{
		font-size:12px;
		color:Black;
		font-weight:normal;
		background-color:#ffffff;
		}
    .icbcNewUserControls_CommendInfo_commendInfoTitleStyle
    {
		font-size:16px;
		color:Red;
		font-weight:bold;
		
		}
	 .icbcNewUserControls_CommendInfo_commendInfoSummaryStyle
	 {
		font-size:12px;
		color:Black;
		font-weight:normal;
		}
	.icbcNewUserControls_CommendInfo_commendInfoDetailStyle
	{
		font-size:12px;
		color:Black;
		font-weight:normal;
		text-decoration:none;
		}
	.icbcNewUserControls_CommendInfo_subordinationInfoStyle
	{
		font-size:12px;
		color:Black;
		font-weight:normal;
		text-decoration:none;
		}
	.icbcNewUserControls_CommendInfo_subordinationInfoDateStyle
	{
		font-size:12px;
		color:Black;
		font-weight:normal;
		}
	.icbcNewUserControls_CommendInfo_DivisionPSInfoStyle
	{
		/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/ticket_bg.gif);*/
		}
		
	/* 栏目和信息调用模块（包括手工） */
	.icbcNewUserControls_ChannelPostingInvoke_characterStyle
	{
		color:Black;
		}
	.icbcNewUserControls_ChannelPostingInvoke_tableStyle
	{
		border:0;
		border-spacing:0;
		vertical-align:top;
	}
	.icbcNewUserControls_ChannelPostingInvoke_channelStyle
	{
		font-weight:bolder;
		font-size:12px;
		color:Black;
		text-decoration:none;
		}
   .icbcNewUserControls_ChannelPostingInvoke_infoStyle
   {
		font-size:12px;
		color:Red;
		font-weight:normal;
		text-decoration:none;
	}


	/*相关链接*/
	.ralatingPageForTemplate
	{
		font-size:12px;
		color:black;
		font-weight:900;
		text-decoration:none;
		}
	A.ralatingPageForTemplate:link
{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

A.ralatingPageForTemplate:hover 
{
	FONT-SIZE: 14px;
	COLOR: #bc0021;	
	TEXT-DECORATION: none;
}
/*理财类信息模板，业务类信息模板*/
/*模板标题样式*/
.icbcFinanceAndOperationMessageTemplate_text19
{
	font-size:24pt;
	font-weight:bold;
	text-decoration:none;
	}
/*模板副标题样式*/
.icbcFinanceAndOperationMessageTemplate_text20
{
	font-size:24px;
	font-weight:bold;
	color:Black;
	text-decoration:none;
	}
.icbcFinanceAndOperationMessageTemplate_text21 
{
	FONT-SIZE: 14px; 
	COLOR: #000000;
	 TEXT-DECORATION: none
}
.icbcFinanceAndOperationMessageTemplate_bgimg
{
	background-image:url(/icbc/Module/res/rep_22.jpg);
	background-position:center;
	background-color:Transparent;
	background-repeat:repeat;
	}
	
/*导航栏模块（栏目扩展属性相关）开始*/
.icbcNavigationFromChannelInfoControl
{
	font-size:12px;
	background-color:#EAEAEA;
	}
.icbcNavigationFromChannelInfoSplit
{
	color:Black;
	}
	
.icbcNavigationFromChannelInfoUnSelect {
	COLOR: #000000; TEXT-DECORATION: none
}
A.icbcNavigationFromChannelInfoUnSelect:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.icbcNavigationFromChannelInfoUnSelect:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline
}
A.icbcNavigationFromChannelInfoUnSelect:visited {
	COLOR: #000000; TEXT-DECORATION: none
}

.icbcNavigationFromChannelInfoSelect {
	COLOR: #bc0021; TEXT-DECORATION: none
}
A.icbcNavigationFromChannelInfoSelect:link {
	COLOR: #bc0021; TEXT-DECORATION: none
}
A.icbcNavigationFromChannelInfoSelect:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline
}
/*导航栏模块（栏目扩展属性相关）结束*/

/*品牌服务区模块（栏目扩展属性相关）开始*/
.icbcBrandServiceAreaHeader
{
	font-weight:bold;
	background-position:100px;
	background-image:url(/icbc/Module/res/rep_22.jpg);
	background-repeat:repeat-y;
	border-color:Black;
	background-color:Yellow;
	}
.icbcBrandServiceAreaTable
{
	font-size:14px;
	}
/*品牌服务区模块（栏目扩展属性相关）结束*/

/*相关文章模块（栏目扩展属性相关）开始*/
.icbcCorrelativeArticleHeader
{
	background-color:#B0E0E6;
	font-weight:bold;
	font-size:14px;
	}
.icbcCorrelativeArticleControl
{
	font-size:14px;
	}
A.icbcCorrelativeArticleControl:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.icbcCorrelativeArticleControl:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline
}
A.icbcCorrelativeArticleControl:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.icbcCorrelativeArticleDate
{
	font-size:14px;
	color:Gray;
	}
.icbcCorrelativeArticleSplit
{
	height:0px;
	background-image:url(/icbc/Module/res/rep_22.jpg);
	background-repeat:repeat-x;
	}
.icbcCorrelativeArticleForwardStyle
{
	color:Red;
	}
/*相关文章模块（栏目扩展属性相关）结束*/