#class .loading-indicator{
	font-size:12px;
	height:18px;
}

#loading{
	position:absolute;
	left:expression((document.body.offsetWidth-this.offsetWidth)/2);
	top: 40%;
	border:1px solid #6593cf;
	padding:2px;
	background:#c3daf9;
	width:150px;
	text-align:center;
	z-index:20001;
}
#loading .loading-indicator{
	border:1px solid #a3bad9;
	background-color:white;
	color:#003366;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
}
 .dis{   width:100%;     background-color: #0066FF;   position:absolute;   left:0;   right:0;   top:0;   bottom:0;   -moz-opacity:0.5;   filter:alpha(opacity=10);z-index:19999;   height:100%;   }  